a {
  color: #009BDF;
}

/* 覆盖 .typo a */
.typo a {
  border-bottom: 1px solid #009BDF;
}

body > header > h1 > a {
  color: #404040;
}

.main blockquote {
  border-left: 1px solid #cccccc;
  background-color: #f0f0f0;
}
