body {
  font-size: 1.125rem;
}

body > header, body > article, body > aside, body > footer, body > hr {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 100em) {
  body {
    font-size: 1.25rem;
  }

  body > header, body > article, body > aside, body > footer, body > hr {
    width: 80vw;
  }
}

body > header > h1 {
  margin-top: 1.2em;
  margin-bottom: 0.6em;
  line-height: 1.35;
}

body > footer {
  height: 3em;
  line-height: 3em;
  text-align: center;
}

.main h1, .main h2, .main h3, .main h4, .main h5, .main h6 {
  text-align: center;
}

.main nav {
  text-align: center;
}

.main p img:only-child, .main div svg:only-child {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main > section > p, .main > section > article > p {
  text-indent: 2em;
}

.main .meta {
  text-align: right;
}
