<!doctype html>
<html{{ attributes|xmlattr}}>
    <head>
        <title>{{ head.title }}</title>
        {% for meta in head.metas %}
        <meta{{ meta|xmlattr }}/>
        {% endfor %}
        {% for link in head.links %}
        <link{{ link|xmlattr }}/>
        {% endfor %}
    </head>
    <body{{ body.attributes|xmlattr}}>
        <article{{ body.article.attributes|xmlattr }}>
        {% block article %}{% endblock %}
        </article>
        {% for aside in body.asides %}
            {% if aside.content %}
        <aside{{ aside.attributes|xmlattr }}>
{{ aside.content|indent(width=12, indentfirst=True) }}
        </aside>
            {% else %}
        <aside{{ aside.attributes|xmlattr }}></aside>
            {% endif %}
        {% endfor %}
        <footer>SINCE 2016</footer>
        {% for script in body.scripts %}
            {% if 'src' in script %}
        <script{{ script|xmlattr }}></script>
            {% elif 'source' in script %}
        <script>
{{ script.source|indent(width=12, indentfirst=True) }}
        </script>
            {% endif %}
        {% endfor %}
    </body>
</html>
