[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins
[submodule "markdown-extensions/markdown-simplechem"]
	path = markdown-extensions/markdown-simplechem
	url = https://github.com/dmishin/markdown-simplechem.git
