{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content %}
<article class="main">
    <header><h2 class="center">{{ article.title }}</h2></header>
	<hr/>
    {% include 'article_infos.html' %}
    <div class="content">{{ article.content }}</div>
    {% if DISQUS_SITENAME and SITEURL and article.status != "draft" %}
    <aside class="comments">
		<h3>评论/Comments</h3>
		<div id="disqus_thread"></div>
		<script>
		    var disqus_config = function () {
				this.page.url = location.protocol + '//' + location.host + location.pathname;
		    	this.page.identifier = '{{ article.uuid }}';
		    };
			(function() {
				var d = document, s = d.createElement('script');
				s.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
		</script>
		<noscript>请启用 JavaScript 脚本以查看评论/Please enable JavaScript to view the comments.</noscript>
    </aside>
    {% endif %}
</article>
{% endblock %}
