{% extends "base.html" %}

{% block content %}
<article>
{% if articles %}
    {% for article in articles_page.object_list %}
        {% if loop.first and not articles_page.has_previous() %}
            <aside class="main">
                <h2 class="center"><a href="{{ ABSROOT }}/{{ article.url }}">{{ article.title }}</a></h2>
				<hr/>
                {% include 'article_infos.html' %}
				<div class="content">{{ article.content }}</div>
            </aside>
            {% if loop.length > 1 %}
				<hr/>
                <aside class="others">
                    <h3>其他文章/Other articles</h3>
                    <ol class="list">
            {% endif %}
        {% else %}
            {% if loop.first %}
                <aside>
                    <ol class="list">
            {% endif %}
            <li>
                <a href="{{ ABSROOT }}/{{ article.url }}" title="{{ article.title|striptags }}">{{ article.title }}</a>
                {% include 'article_infos.html' %}
            </li>
        {% endif %}
        {% if loop.last %}
            {% if loop.length > 1 or articles_page.has_other_pages() %}
                </ol>
                {% if articles_page.has_other_pages() %}
                    {% include 'pagination.html' %}
                {% endif %}
                </aside>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
</article>
{% endblock content %}
