body {
    color: #404040;
    background-color: #f7f7f7;
}

body > header > h1 > a {
    color: #404040;
}

a {
    color: #009BDF;
}

hr {
    color: #d3d3d3;
}

.meta a {
    color: #404040;
}

.content pre {
    background-color: #f0f0f0;
}

.content blockquote {
    border-left-color: #cccccc;
    background-color: #f0f0f0;
}

.content p > code {
    border-color: #cccccc;
    color: #880000;
}
